---
import Header from "../components/home/Header.astro";
import Section1 from "../components/home/Section1.astro";
import Authenticstores from "../components/home/Authenticstores.astro";
import Marketingsolutions from "../components/home/Marketingsolutions.astro";
import Banner from "../components/home/Banner.astro";
import Collab from "../components/home/Collab.astro";
import Quote from "../components/home/Quote.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <Header/>
    <body>
        <main>
            <Section1/>
            <Authenticstores/>       
            <Marketingsolutions/>
            <Banner/>
            <Collab/>
            <Quote/>
        </main>
    </body>
</html>

