<div class="min-h-screen max-w-5xl mx-auto py-20">
    <div class="w-3/5">
        <div class="flex-col">
        <p class="text-6xl font-bold leading-tight">Solving Your</p>
        <p class="text-6xl font-bold leading-tight">Marketing Challenges</p>
        <div class="">
            <p class="text-6xl font-bold leading-tight">in the
            <span class="text-blue-400 text-6xl font-bold">Asia-Pacific</span><span class="text-orange-400 text-6xl font-bold">.</span> </div>
            </p>
        </div>  
        <p class="text-2xl pt-28 pb-12">Unlock the power of influence and reach over 1 billion consumers in Asia.</p>
        <p class="text-2xl">AJ Marketing delivers authentic stories in:</p>
        <p class="text-orange-400 text-2xl">Singapore, Japan, Korea, India, Indonesia, Malaysia, Vietnam, Philippines, Thailand and Taiwan.</p>             
    </div>
</div>