<div class="px-12 -mt-36">
    <div class="bg-black h-[90vh] px-48 pt-60 relative">
        <p class="text-white font-extrabold text-8xl pb-8">Make People <span class="text-orange-400 bg-white z-10 relative">&nbsp;Stop,&nbsp;</span> </p>
        <p class="text-white text-8xl font-bold pb-16"> <span class="text-gray-300 font-bold">Look</span> and Listen.</p>
        <p class="text-white text-3xl font-bold pb-12">Transform How You Reach <span class="bg-blue-400">Your Audience  </span><span>.</span></p>
        <ul class="pl-16">
            <li class="text-white text-lg list-disc py-1">Fuelled by technology.</li>
            <li class="text-white text-lg list-disc py-1">Inspired by creativity.</li>
        </ul>
        <div class="bg-pink-600 h-[95vh] w-80 absolute top-0 right-6"></div> <!--INSERT IMAGE HERE -->
    </div>             
</div>