<div class="bg-blue-400 h-72 py-20">
    <p class="text-white text-4xl text-center"> CONTACT US</p>
    <p class="text-8xl font-bold text-white text-center hover:text-black hover:text-7xl">LET<span class="text-orange-400">'</span>S WORK TOGETHER<span>.</span></p>
</div>