<header class="bg-black text-white h-16 top-0 sticky">
    <nav class="flex justify-between">
        <img src="/aj-logo.webp" class="h-12 w-24 my-2 pl-4"/>
        <ul class="flex gap-12 items-center pr-8">
            <li class="text-blue-400 text-sm">HOME</li>
            <li class="text-sm">COLLAB</li>
            <li class="text-sm">OUR WORK</li>
            <li class="text-sm">SERVICES</li>
            <li class="text-sm">CREATORS</li>
            <li class="text-sm">BLOG</li>
            <li class="text-sm">CONTACT</li>
        </ul>
    </nav>
</header>


