<header class="bg-black text-white h-16 top-0 sticky z-50">
    <nav class="flex justify-between">
        <img src="/aj-logo.webp" class="h-12 w-24 my-2 pl-4"/>
        <ul class="flex gap-12 items-center pr-8">
            <li class="text-blue-400 text-sm">HOME</li>
            <li class="text-sm hover:text-blue-400">COLLAB</li>
            <li class="text-sm hover:text-blue-400">OUR WORK</li>
            <li class="text-sm hover:text-blue-400">SERVICES</li>
            <li class="text-sm hover:text-blue-400">CREATORS</li>
            <li class="text-sm hover:text-blue-400">BLOG</li>
            <li class="text-sm hover:text-blue-400">CONTACT</li>
        </ul>
    </nav>
</header>


