<p class="text-7xl font-extrabold text-end pr-8">Connecting Brands with</p>
<div class="bg-black h-[88vh] flex justify-between">
    <div class="bg-red-600 h-[88vh] w-3/5 mb-60 z-10"></div><!--  INSERT IMAGE HERE -->
    <div class="text-end pr-4 w-2/5">
        <p class="text-white text-7xl font-bold pt-4 pb-8">Asia-Pacific.</p>
        <p class="text-orange-400 text-3xl font-bold pb-2">Empowered by Extraordinary Talent</p>
        <p class="text-white text-lg pb-24">Our team is spread out in 10 countries, speaking 15 languages, enabling us to deliver your campaigns across Asia.</p>
        <p class="text-blue-400 font-bold">We have operating local teams in;</p>
        <p class="text-white text-2xl leading-relaxed">Singapore, Japan, Korea, India, Indonesia, Malaysia, Vietnam, Philippines, Thailand and Taiwan.</p>
        </div>
</div>
