<div class="h-[95vh] flex items-center">
    <div class="bg-red-500 h-96 w-96 ml-64"></div> <!-- INSERT IMAGE HERE -->
    <div class="w-2/3">
        <p class="text-3xl font-bold text-center pb-4">“Anything You Can Imagine is Real”</p>
        <p class="italic text-4xl text-blue-400 text-end mr-48">Pablo Picasso</p>
    </div>
</div>